In [70]:
>>> a = [66.5, 33, 1, 33, 1234.5]
>>> print(a.count(33), a.count(1), a.count(34234))
>>> a.insert(1,33)
>>> a.append(33)
>>> a

2 1 0

[66.5, 33, 33, 1, 33, 1234.5, 33]

In [73]:
>>> a.remove(33)
>>> a

[66.5, 1, 1234.5, 33]

In [25]:
>>> a.reverse()
>>> a

[66.5, 1, 33, 1234.5, 33]

In [26]:
>>> a.sort()
>>> a

[1, 33, 33, 66.5, 1234.5]

In [29]:
>>> a.pop()

1234.5

In [30]:
>>> a

[1, 33, 66.5]

In [52]:
>>> stack = [5, 6, 7]
>>> stack.append(8)
>>> stack.append(9)
>>> stack

[5, 6, 7, 8, 9]

In [33]:
>>> stack.pop()
stack

[5, 6, 7]

In [45]:
>>> from collections import deque
>>> quene = deque(['Eric', 'Peter', 'John'])
>>> quene.append('Geoge')
>>> quene.append('Allen')
>>> quene.popleft()
>>> quene.popleft()
>>> quene

deque(['John', 'Geoge', 'Allen'])

In [78]:
>>> square = []
>>> for x in range(10):
...     square.append(x**2)
>>> square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [80]:
>>> squares = list(map(lambda x: x**2, range(10)))
>>> squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [82]:
>>> squares = [x**2 for x in range(10)]
>>> squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [84]:
>>> [(x,y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [91]:
>>> combs = []
>>> for x in [1,2,3]:
...    for y in [3,1,4]:
...         if x != y:
...             combs.append((x,y))
>>> combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [92]:
>>> vec = [-4, -2, 0, 2, 4]
>>> [x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [93]:
>>> [x for x in vec if x >0]

[2, 4]

In [94]:
>>> [abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [96]:
>>> freshfruit = ['Banana','Apple','Passionfruit']
>>> [weapon.strip() for weapon in freshfruit]

['Banana', 'Apple', 'Passionfruit']

In [97]:
>>> [(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [98]:
>>> vec = [[1,2,3],[4,5,6],[7,8,9]]
>>> [num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [100]:
>>> from math import pi
>>> [str(round(pi,i)) for i in range(1,6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [102]:
>>> matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
    ]
>>> matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [106]:
>>> [[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [114]:
>>> transposed = []
>>> for i in range(4):
        transposed.append([row[i] for row in matrix])
>>> transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [117]:
>>> transposed = []
>>> for i in range(4):
        transposed_row = []
        for row in matrix:
            transposed_row.append(row[i])
        transposed.append(transposed_row)
>>> transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [118]:
>>> list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [123]:
>>> a = [-1,0,1,5,8.33,123]
>>> del a[0]
>>> a
>>> del a[2:4]
>>> a
>>> del a[:]
>>> a

[]

In [124]:
>>> a = [1,2,3,4,5,6,]
>>> del a

NameError: name 'a' is not defined

In [125]:
>>> t = 1234, 5432, 'hello!'
>>> t[0]

1234

In [126]:
>>> t

(1234, 5432, 'hello!')

In [127]:
>>> u = t, (1,2,3,4,5)
>>> u

((1234, 5432, 'hello!'), (1, 2, 3, 4, 5))

In [128]:
>>> u[0] = 888

TypeError: 'tuple' object does not support item assignment

In [129]:
>>> basket = ['Apple','Banana','Pinapple','flower','orange']
>>> basket

['Apple', 'Banana', 'Pinapple', 'flower', 'orange']

In [130]:
>>> 'orange' in basket

True

In [131]:
>>> 'hello' in basket

False

In [132]:
>>> a = set('abcdefghijk')
>>> b = set('abcdabc')
>>> a

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k'}

In [133]:
>>> b

{'a', 'b', 'c', 'd'}

In [ ]:
>>> aa | b